.header{
    min-width: 100%;
    justify-content: space-between;
    display: flex;
    background: #1d2127;
    padding: 20px;
    margin-bottom: 30px;
    padding-left: 50px;
  }
  
  .header .user{
    text-align: right;
    padding-right: 50px;
    position: relative;
  }
  
  .header span{
    display: none;
  }
  
  .header h2{
    font-weight: bolder;
    font-size: 22px;
    color: wheat;
    padding-left: 15px;
  }
  
  .header .user:hover span{
    display: block;
    color: whitesmoke;
    position: absolute;
    margin-left: 83%;
  }



  ul.social-network li .MuiSvgIcon-root{
    font-size: 19px;
  }

  @media only screen and (max-width:900px){
    .header .user{
      text-align: right;
      padding-right: 10px;
      position: relative;
    }
}



.navbar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 5px;
}

/*
headeer top
*/
.topbar{
background-color: white;
padding: 0;
max-width: 100%;
}

.topbar ul {
  padding-right: 20px;
}

ul.social-network {
border:none;
margin:0;
padding-top:2px;
}

ul.social-network li {
border:none;  
margin:0;
}

ul.social-network li i {
margin:0;
}

ul.social-network li {
  display:inline;
  margin: 0 5px;
  border: 0px solid #2D2D2D;
  padding: 5px 0 0;
  width: 32px;
  display: inline-block;
  text-align: center;
  height: 32px;
  vertical-align: baseline;
  color: #000;
  
}

ul.social-network {
list-style: none;
margin: 5px 0 10px -25px;
float: right;
}

.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  transition: .3s ease-out;
  color: #000;
  
}
a {
color: #0a0a0a;
text-decoration: none;
}

li {
  list-style-type: none;
}

.bg-dark {
  background-color: #222!important;
}

.mx-background-top-linear {
  background: -webkit-linear-gradient(45deg, #183ebb 48%, #fff 48%);
  background: -webkit-linear-gradient(left, #183ebb 48%, #fff 48%);
  background: linear-gradient(45deg, #183ebb 48%, #fff 48%);
}


@media only screen and (max-width:280px){
  .user button{
    font-size: 10px;
  }
}